

.field-background{
    /* background-image: url(); */
    background-color: #2d9440;
    display: grid;
      grid-template-rows: repeat(var(--player-row), 1fr);
      grid-template-columns: repeat(var(--player-col), 1fr);
      gap: 2px;
      padding: 10px;
}
.player{
  margin: auto;
  width: 2rem;
  text-align: center;
  background-color: #fff;
}